.navbar {
    position: relative;
    left: -45px;
    top: -25px;
    width: 500px;
    height: 31px;
    border-radius: 3%;
}

.navbar ul {
    font-family: sans-serif;
    font-size: 25px;
}

.navbar ul li {
    width: 150px;
    float: left;
}

.navbar ul li a {
    text-align: center;
    display: block;
    color: white;
    border: solid black 2px;
    background-color: darkgreen;
    border-radius: 15%;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

/* search */

.search {
    float: right;
}

/* products */

.products {
    height: 100px;
}

.products ul {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 400px;
}

.products ul li {
    margin: 20px;
    align-self: center;
}

.products ul li img {
    width: 100%;
}

/* slideshow */

.slideShow img {
    height: 300px;
    width: 300px;
}

/* purchase form */

.purchaseForm {
    width: 290px;
}

/* product filter */

.filter {
    width: 317px;
}

/* contact page */

.contactPage {
    width: 800px;
}

/* comments */

textarea {
    resize: none;
}